<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilink.pen.getmoney">
    //uses-permission:权限配置
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="CAMERA" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    //activity:注册Activity，注册过才能访问
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sharedData.OpenFileShareData">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.ActivityLifeCycle" />
        <activity android:name=".activity.DataActivity" />
        <activity android:name=".activity.CaptureActivity" />
        <activity android:name=".activity.BrodcastSenderActivity" />
        //receiver:配置广播接收器在那个类中实现
        <receiver android:name=".brodcast.MyBrodcastReceiver">
            //intent-filter：过滤器，指定只有名为cm.iLink.ACTION的广播才使用接收器
            <intent-filter android:priority="1000">
                //优先级越高捕捉到广播越早
                <!-- <action android:name="com.iLink.NOTIFY"/> -->
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.DynamicRegisterBrodcastReceiver"
            android:label="@string/title_activity_dynamic_register_brodcast_receiver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BarCodeActivity" />
        <activity android:name=".activity.ThreadTutorialActivity" />

        <service
            android:name=".service.Service01"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.StartService" />
        <service android:name=".service.BindService" />
        <service android:name=".service.AIDLService" />

        <activity android:name=".activity.StartServiceActivity" />
        <activity android:name=".activity.ForeAndRemoteServiceActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.IndexActivity" />
        <!-- <activity android:name=".newsDemo.NewsActivity" /> -->
        <activity android:name=".newsDemo.DetailActivity" />
        <!-- <activity android:name=".sharedData.SharedPrefData"></activity> -->
        <!--<activity android:name=".sharedData.OpenFileShareData"></activity>-->
    </application>

</manifest>